<% include ./partials/nav %>

<h1>The Dog's Eyes sees through you..</h1>

<img src="https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="cute dog">
