<a href="/">Back to Home</a>

<h1>This is the Search Page</h1>

<form action="/results" method="get">
  <input type="text" name="searchTitle" id="searchInput" placeholder="Search for Title">
  <input type="submit" value="Search">
</form>
