<% include partials/header-opener %>

<title>Blog App | Share your daily life</title>

<% include partials/header-closer %>

<h1>LANDING PAGE</h1>
<p>Welcome to Blog App</p>

<% include partials/footer %>
