  </head>
  <body>
    <a href="/">Homepage</a> | 
    <a href="/blogs">Blogs</a> | 
    <a href="/blogs/new">New Post</a> | 
    <a href="/blogs/asdasd">More Info</a> | 
    <a href="/blogs/asdasd/edit">Edit</a> 
