<% include partials/header %>
<% include partials/navbar %>

<div class="jumbotron">
  <div class="container">
    <h1>YelpCamp</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla recusandae laboriosam molestiae laudantium praesentium nesciunt eaque deserunt amet earum?</p>
    <p>
      <a href="/campgrounds" class="btn btn-primary btn-lg">Show Campgrounds</a>
    </p>
  </div>
</div>

<% include partials/footer %>
