<a href="/">Back to home</a>

<h1>This is the Movies Page</h1>

<p>This page will be where users search for movies.</p>

<form action="/movies/s" method="get">
  <label for="searchTitle">Search by Title: </label>
  <input type="text" name="searchTitle" id="searchTitle"><br>
  <input type="submit" value="Search">
</form>
