    <footer class="text-center">YelpCamp 2019 | YosepRA</footer>
    
    <script src="/lib/scripts/jquery.min.js"></script>
    <script src="/lib/scripts/bootstrap3.min.js"></script>
  </body>
</html>
